<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Это <u>учебный</u> сайт, don't judge!</h1>
<!--        {% block additional %} {{ text }} {% endblock %}-->
        {% block header %}{% endblock %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}{% endblock %}
{#        <a href="https://t.me/piliff_e" style="background-color: #6d4c41; color: white; text-align: center;">Telegram</a>#}
    </footer>
</body>
</html>