{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h2>Добро пожаловать!</h2>
    <h3>Этот сайт предназначен преимущественно для глаз <a href="https://edu.dluciv.name/Home">Дмитрия Вадимовича Луцива</a>.</h3>
    <h3>Здесь я не использовал никакие скаченные шаблоны, потому что хотел, чтобы сайт был пусть и простеньким/корявым, но целиком и полносью моим :)</h3>
    <p>Сейчас здесь можно:</p>
    <ul>
      <li><a href="/jupiter">Посмотреть все мои проекты, написанные в Jupiter Notebooks на первом курсе университета</a>;</li>
    </ul>
{% endblock %}
