{% extends "base.html" %}

{% block header %}
    <a href="/index" style="font-size: 20px">Главная</a>
    <a href="/jupiter" style="font-size: 20px">Все блокноты</a>
{% endblock %}

{#{% block content %}#}
{#    <script>#}
{#        var path = window.location.pathname;#}
{#        var page = path.split("/").pop();#}
{#        var name = page.split(".page").shift();#}
{#        var iframe = document.querySelector('iframe');#}
{#        console.log(name)#}
{#        iframe.setAttribute('src', '../../static/notebooks/' + name);#}
{#    </script>#}
{#    <iframe style="border: 0; width: 100%; height: 2000px"></iframe><!--id="Iframe">#}
{#    </iframe>#}
{#    <script>#}
{#        // Selecting the iframe element#}
{#        var frame = document.getElementById("Iframe");#}
{##}
{#        // Adjusting the iframe height onload event#}
{#        frame.onload = function()#}
{#        // function execute while load the iframe#}
{#        {#}
{#          // set the height of the iframe as#}
{#          // the height of the iframe content#}
{#          frame.style.height =#}
{#          frame.contentWindow.document.body.scrollHeight + 'px';#}
{##}
{##}
{#         // set the width of the iframe as the#}
{#         // width of the iframe content#}
{#         frame.style.width  =#}
{#          frame.contentWindow.document.body.scrollWidth+'px';#}
{##}
{#        }#}
{#        </script> -->#}
{#{% endblock %}#}

{#{% block bottom_navigation %}{% endblock %}#}