{% extends "notebook.html" %}

{% block title %}1.10. Universe2D{% endblock %}

{% block content %}
    <iframe
            src="../../static/notebooks/1.10.universe2d.html"
            style="border: 0; width: 100%; height: 2800px">
    </iframe>
{% endblock %}

{% block footer %}
    <span style="float: left; width: 50%; text-align: left;">
        <a href="/jupiter/1.9.primality_test" style="font-size: 20px">1.9. Проверка на простоту</a>
    </span>
    <span style="float: left; width: 50%; text-align: right;">
        <a href="/jupiter/1.13.fibonacci" style="font-size: 20px">1.13. Числа Фибоначчи</a>
    </span>
{% endblock %}