{% extends "notebook.html" %}

{% block title %}1.8. Расширенный алгоритм Евклида{% endblock %}

{% block content %}
    <iframe
            src="../../static/notebooks/1.8.extended_euclid.html"
            style="border: 0; width: 100%; height: 1200px">
    </iframe>
{% endblock %}

{% block footer %}
    <span style="float: left; width: 50%; text-align: left;">
        <a href="/jupiter/1.7.euclid" style="font-size: 20px">1.7. Алгоритм Евклида</a>
    </span>
    <span style="float: left; width: 50%; text-align: right;">
        <a href="/jupiter/1.9.primality_test" style="font-size: 20px">1.9. Проверка на простоту</a>
    </span>
{% endblock %}