{% extends "notebook.html" %}

{% block title %}2.4. Монте-Карло{% endblock %}

{% block content %}
    <iframe
            src="../../static/notebooks/2.4.monte_carlo.html"
            style="border: 0; width: 100%; height: 3200px">
    </iframe>
{% endblock %}

{% block footer %}
    <span style="float: left; width: 50%; text-align: left;">
        <a href="/jupiter/2.2.benchmarks" style="font-size: 20px">2.2. Бенчмарки</a>
    </span>
    <span style="float: left; width: 50%; text-align: right;">
        <a href="/jupiter/2.6.article_review" style="font-size: 20px">2.6. Мысли о статье</a>
    </span>
{% endblock %}