{% extends "notebook.html" %}

{% block title %}2.6. Мысли о статье{% endblock %}

{% block content %}
    <iframe
            src="../../static/notebooks/2.1.gauss_method.html"
            style="border: 0; width: 100%; height: 2800px">
    </iframe>
{% endblock %}

{% block footer %}
    <span style="float: left; width: 50%; text-align: left;">
        <a href="/jupiter/2.2.benchmarks" style="font-size: 20px">2.2. Бенчмарки</a>
    </span>
{#    <span style="float: left; width: 50%; text-align: right;">#}
{#        <a href="/jupiter/2.2.benchmarks" style="font-size: 20px">2.2. Бенчмарки</a>#}
{#    </span>#}
{% endblock %}